# Update these with your Supabase details from your project settings > API
# https://app.supabase.com/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=your-project-url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key
OPENROUTER_API_KEY=your-api-key


E2E_USERNAME_ID=###
E2E_EMAIL=###
E2E_PASSWORD=###


TOKEN=###

VERCEL_TOKEN=Token dostępowy do Twojego konta Vercel.
VERCEL_ORG_ID=ID Twojej organizacji na Vercel.
VERCEL_PROJECT_ID=ID Twojego projektu na Vercel.